{% extends 'FrontBundle::fullwidth.html.twig' %}

{% set active = 'companies' %}

{% block title %}{{ 'Companies'|trans }}{% endblock %}

{% block body_class %}content-simple{% endblock %}

{% block page_header %}{{ 'Companies'|trans }}{% endblock %}

{% block page_header_additional %}
    <a href="{{ path('company_create') }}" class="btn btn-success">{{ 'Create Company'|trans }}</a>
{% endblock %}

{% block content %}
    {% if companies|length %}
        <div class="system-table">
            <div class="system-head">
                <div class="system-head-cell">
                    {{ 'ID'|trans }}
                </div><!-- /.system-head-cell -->

                <div class="system-head-cell">
                    {{ 'Title'|trans }}
                </div><!-- /.system-head-cell -->

                <div class="system-head-cell center min-width">
                    {{ 'No. Jobs'|trans }}
                </div><!-- /.system-head-cell -->

                <div class="system-head-cell right">
                    {{ 'Created'|trans }}
                </div><!-- /.system-head-cell -->

                <div class="system-head-cell">
                </div><!-- /.system-head-cell -->
            </div><!-- /.sysytem-head -->

            {% for company in companies %}
                <div class="system-row">
                    <div class="system-row-cell system-id">
                        #{{ company.getId() }}
                    </div><!-- /.system-row-cell -->

                    <div class="system-row-cell system-title">
                        <h3><a href="{{ path('company_show', {'id': company.getId()}) }}">{{ company.getName() }}</a></h3>
                    </div><!-- /.system-row-cell -->

                    <div class="system-row-cell center min-widthO">
                        {{ company.jobs|length }}
                    </div><!-- /.system-row-cell -->

                    <div class="system-row-cell system-date">
                        {{ company.getCreated()|date("F jS \\a\\t g:ia") }}
                    </div><!-- /.system-row-cell -->

                    <div class="system-row-cell system-actions">
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{  'Choose Action'|trans }}
                            </button>

                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item" href="{{ path('company_update', {'id': company.getId()}) }}">{{ 'Update'|trans }}</a>
                                <a class="dropdown-item" href="{{ path('company_show', {'id': company.getId()}) }}">{{ 'View'|trans }}</a>
                                <a class="dropdown-item" href="{{ path('company_delete', {'id': company.getId()}) }}">{{ 'Delete'|trans }}</a>
                            </div>
                        </div>
                    </div><!-- /.system-row-cell -->
                </div><!-- /.system-row -->
            {% endfor %}
        </div><!-- /.system-table -->

        <div class="navigation text-center">
            {{ knp_pagination_render(companies) }}
        </div>
    {% else %}
        {{ include('FrontBundle::Helpers/empty.html.twig') }}
    {% endif %}
{% endblock %}