{% extends 'FrontBundle::fullwidth.html.twig' %}

{% set active = 'companies' %}

{% block title %}{{ 'Update Company'|trans }}{% endblock %}

{% block page_header %}
    <a href="{{ path('company_my') }}" class="return-back"><i class="fa fa-long-arrow-left"></i></a>
    {{ 'Update Company'|trans }}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}