{% extends 'FrontBundle::fullwidth.html.twig' %}

{% set active = 'jobs' %}

{% block title %}{{ 'Update Job'|trans }}{% endblock %}

{% block page_header %}
    <a href="{{ path('job_my') }}" class="return-back"><i class="fa fa-long-arrow-left"></i></a>
    {{ 'Update Job'|trans }}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}