<div class="partners-wrapper mt-60">
    <div class="page-block-title">
        <h1>{{ 'Companies Using Our Services'|trans }}</h1>
        <p>{{ 'Some of the companies which we helped by finding awesome job candidates.'|trans }}</p>
    </div><!-- /.page-block-title -->

    <div class="partners">
        <a href="#">
            <img src="{{ asset('bundles/front/img/tmp/partner-1.png') }}" alt="">
        </a>

        <a href="#">
            <img src="{{ asset('bundles/front/img/tmp/partner-2.png') }}" alt="">
        </a>

        <a href="#">
            <img src="{{ asset('bundles/front/img/tmp/partner-3.png') }}" alt="">
        </a>

        <a href="#">
            <img src="{{ asset('bundles/front/img/tmp/partner-4.png') }}" alt="">
        </a>

        <a href="#">
            <img src="{{ asset('bundles/front/img/tmp/partner-5.png') }}" alt="">
        </a>
    </div><!-- /.partners -->
</div><!-- /.partners-wrapper -->