{% extends "FrontBundle::split.html.twig" %}

{% block title %}
    {{ 'Forgot Password?'|trans }}
{% endblock %}

{% block content %}
    <h1>{{ 'Reset Password'|trans }}</h1>

    <p>
        {% trans with {'%link%': path('fos_user_security_login')} %}
            Type your e-mail address below and we will get in touch with you as soon as possible.
        {% endtrans %}
    </p>

    {% include "FOSUserBundle:Resetting:request_content.html.twig" %}

    <ul>
        <li><a href="{{ path('homepage') }}">{{ 'Return Back'|trans }}</a></li>
        <li><a href="{{ path('fos_user_security_login') }}">{{ 'Sign In'|trans }}</a></li>
        <li><a href="{{ path('fos_user_registration_register') }}">{{ 'Registration'|trans }}</a></li>
    </ul>
{% endblock %}

{% block sidebar %}
    <h1>{{ 'Boost your business by finding great people or start new live by finding job.'|trans }}</h1>
    <ul>
        <li>{{ 'Post Job Offers'|trans }}</li>
        <li>{{ 'Build New Businesses'|trans }}</li>
        <li>{{ 'Create Brilliant Resumes'|trans }}</li>
        <li>{{ 'Search Non Public Profiles'|trans }}</li>
        <li>{{ 'Look for Carrer Oppurtinities'|trans }}</li>
    </ul>
{% endblock %}
