{% extends 'FrontBundle::sidebar_right.html.twig' %}

{% set header_active = 'profiles' %}

{% block title %}{{ profile.getDisplayName }}{% endblock %}

{% block page_header %}{{ 'Candidate Profile'|trans }}{% endblock %}

{% block sidebar %}
    {% if jobs|length %}
        <div class="widget widget-items-small">
            <h2>{{ 'Recent Jobs'|trans }}</h2>

            <div class="items-small">
                {% for job in jobs %}
                    <div class="item-small">
                        <div class="item-small-title">
                            <h3><a href="{{ path('job_show', {'id': job.getId()}) }}">{{ job.getName() }}</a></h3>
                            <h4><a href="{{ path('company_show', {'id': job.getCompany().getId()}) }}">{{ job.getCompany().getName() }}</a></h4>
                        </div>

                        <div class="item-small-more">
                            <a href="{{ path('job_show', {'id': job.getId()}) }}"><i class="fa fa-chevron-right"></i></a>
                        </div><!-- /.item-small-more -->
                    </div><!-- /.item-small -->
                {% endfor %}
            </div><!-- /.items-small -->
        </div>
    {% endif %}

    <div class="partner-block center-image">
        <h2>{{ 'Create New Developer Account'|trans }}</h2>
        <h3>{{ 'Detailed Oriented Profiles Gets Brilliant Clients'|trans }}</h3>
        <a href="#" class="btn btn-primary">{{ 'Create Account'|trans }}</a>
    </div><!-- /.widget-partner -->
{% endblock %}

{% block content %}
    <div class="content-blocks">
        <div class="content-block">
            {% if profile.getAvatarName() %}
                <div class="profile-avatar">
                    <img src="{{ vich_uploader_asset(profile, 'avatarImage') }}" alt="{{ profile.getDisplayName() }}">

                    {% if profile.user.isVerified() %}
                        <div class="verified">
                            <i class="fa fa-check"></i>
                        </div><!-- /.verified -->
                    {% endif %}
                </div><!-- /.profile-avatar -->
            {% else %}
                <div class="profile-avatar-initials">
                    {{ profile.getInitials() }}

                    {% if profile.user.isVerified() %}
                        <div class="verified">
                            <i class="fa fa-check"></i>
                        </div><!-- /.verified -->
                    {% endif %}
                </div><!-- /.profile-avatar-initials -->
            {% endif %}

            <div class="profile-name">
                <h3>{{ profile.getDisplayName() }}</h3>
            </div><!-- /.profile-address -->

            <div class="profile-title">
                <h4>{{ profile.getTitle() }}</h4>
            </div><!-- /.profile-address -->

            <address class="profile-address">
                {{ profile.getAddress()|nl2br }}
            </address><!-- /.profile-address -->


            {% if profile.getPhone() or profile.getWebsite() %}
            <div class="profile-items">
                {% if profile.getPhone() %}
                    <div class="profile-phone">
                        <strong>{{ 'Phone'|trans }}:</strong>
                        <span>{{ profile.getPhone() }}</span>
                    </div><!-- /.profile-phone -->
                {% endif %}

                {% if profile.getWebsite() %}
                    <div class="profile-website">
                        <strong>{{ 'Website'|trans }}:</strong>
                        <span><a href="{{ profile.getWebsite() }}">{{ profile.getWebsite() }}</a></span>
                    </div><!-- /.profile-phone -->
                {% endif %}
            </div><!-- /.profiles-items -->
            {% endif %}
        </div><!-- /.content-block -->

        <div class="content-block">
            <h3>{{ 'Candidate Overview'|trans }}</h3>

            {{ profile.description|striptags('<ol><ul><li><i><b><a><p>')|raw }}
        </div><!-- /.content-block -->

        {% if profile.getFacebook() or profile.getTwitter() or profile.getTwitter() %}
            <div class="content-block">
                <h3>{{ 'Social Profiles'|trans }}</h3>

                <ul class="content-social">
                    {% if profile.getFacebook() %}
                        <li>
                            <a href="{{ profile.getFacebook() }}"><i class="fa fa-facebook-square"></i> Facebook</a>
                        </li>
                    {% endif %}

                    {% if profile.getTwitter() %}
                        <li>
                            <a href="{{ profile.getFacebook() }}"><i class="fa fa-twitter-square"></i> Twitter</a>
                        </li>
                    {% endif %}

                    {% if profile.getTwitter() %}
                        <li>
                            <a href="{{ profile.getLinkedin() }}"><i class="fa fa-linkedin-square"></i> LinkedIn</a>
                        </li>
                    {% endif %}
                </ul>
            </div><!-- /.content-block -->
        {% endif %}

        {% if profile.user.getEducations()|length %}
            <div class="content-block">
                <h3>{{ 'Educations'|trans }}</h3>

                <div class="content-rows">
                    {% for education in profile.user.getEducations() %}
                        <div class="content-row">
                            <h4>{{ education.getName() }}</h4>

                            <h5>
                                {{ education.getDegree() }}{% if education.getField() %}, {{ education.getField() }}{% endif %},
                                <span class="profile-year">{{ education.getYearFrom() }} - {{ education.getYearTo() }}</span><!-- /.profile-date -->
                            </h5>

                            {% if education.description %}
                                <p class="no-margin">{{ education.getDescription()|nl2br }}</p>
                            {% endif %}
                        </div><!-- /.content-row -->
                    {% endfor %}
                </div><!-- /.content-rows -->
            </div>
        {% endif %}

        {% if profile.user.getExperiences()|length %}
            <div class="content-block">
                <h3>{{ 'Experiences'|trans }}</h3>

                <div class="content-rows">
                {% for experience in profile.user.getExperiences() %}
                    <div class="content-row">
                        <h4>{{ experience.getCompanyName() }}</h4>
                        <h5>{{ experience.getName() }} - {{ experience.getMonthFrom() }} {{ experience.getYearFrom() }}, {{ experience.getMonthTo() }} {{ experience.getYearTo() }}</h5>

                        {% if experience.description %}
                            <p>{{ experience.getDescription()|nl2br }}</p>
                        {% endif %}
                    </div><!-- /.content-row -->
                {% endfor %}
                </div><!-- /.content-rows -->
            </div>
        {% endif %}
    </div><!-- /.content-blocks -->
{% endblock %}